:root {
    /* Color */
    --color-gray: #555555;
    --color-yellow: #9C6D3A;
    --color-white: #FFFFFF;
    --color-black: #111111;

    /* border */
    --border-radius-1: 30px;
    --border-radius-2: 300px;

    /* background */

    /* font weight */
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}



html,
body {
    font-family: 'General Sans', sans-serif;
    font-size: 13px;
    background: var(--color-white);
    ;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;

}