/* top links   */
.top-links {
    padding: 11px 0px;
    max-height: 41px;
}

ul.contact {
    color: var(--text-main);
    font-weight: var(--fw-500);
}

ul.contact>li.email {

    font-size: 13px;
    margin-left: 25px;
}

.sign-up span {
    color: var(--text-desc);
    font-weight: var(--fw-700);
    text-decoration: underline;

}

.languages {
    font-weight: var(--fw-500);
    gap: 25px;
}

ul.languages li .icon {
    font-size: 9px;
    margin-left: 8px;
}

/* end top links  */

/* main-menu  */
nav.nav-custom {
    margin: 0px;
    padding: 0px;
}

.core-menu {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.main-menu {
    padding: 21px 0px;
}

.ul-main-menu>li {
    margin-right: 30px;
}

.ul-main-menu>li>a {
    font-size: 13px;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    color: var(--text-main) !important;

}

.ul-main-menu>li>a>i.icon {
    margin-left: 5px;
    font-size: 10px;
}

ul.list-action {
    color: var(--text-main) !important;
}

ul.list-action li {
    margin-left: 20px;
    position: relative;
}

ul.list-action li a .numberic {
    position: absolute;
    background: #9C6D3A;
    width: 20px;
    height: 19px;
    border-radius: 50%;
    text-align: center;
    top: 0%;
    color: white;
    left: 52%;
}

/* end main menu  */

/* banner  */
.banner {
    margin-top: 31px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.btn-slider {
    background: transparent;
    border: none;

}

.promo-section {
    top: 25%;
}

.promo-section__subtitle {
    font-weight: var(--fw-600);
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-white);
}

.promo-section__title {
    font-weight: var(--fw-600);
    font-size: 90px;
    line-height: 122px;
    color: var(--color-white);
    margin-bottom: 20px;
}

.promo-section__description {
    font-weight: var(--fw-500);
    font-size: 16px;
    color: var(--color-white);
    margin-bottom: 50px;
}

.promo-section__button {
    border-radius: var(--border-radius-1);
    width: 180px;
    height: 55px;
    background: var(--color-white);
    margin: 0 auto;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 13px;
}

.carousel-indicators>li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 999px;
}

/* end banner  */

/* top-categories  */
.top-categories {
    margin: 100px 0px;
}

.top-title {
    font-weight: var(--fw-500);
    font-size: 36px;
    line-height: 49px;
    color: var(--text-main);
    margin-bottom: 5px;
}

.desc-title {
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 19px;
    color: var(--text-desc);
}

.main-content-cate {
    margin-left: 255px;
    margin-right: 255px;
    margin-top: 40px;
}

.list-cate .cate-item>p {
    text-align: center;
    font-weight: var(--fw-500);
    font-size: 16px;
    line-height: 22px;
    color: var(--text-main);
    margin: 15px 0px;
}

/* end top-categories  */

/* top trending   */
.list-product {
    margin-left: 255px;
    margin-right: 255px;
    margin-top: 40px;
}

.list-product .product-item a.title {
    margin-top: 16px;
    display: block;
    margin-bottom: 6px;
    color: var(--text-main);
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 20px;
}

.votes {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 10px;
}

.list-product .product-item .price {
    font-weight: var(--fw-500);
    font-size: 18px;
    line-height: 24px;
    color: #111111;
}

.new-price {
    color: var(--text-new-price) !important;
}

.old-price {
    text-decoration: line-through;
    color: #8D979E !important;
    font-size: 16px;
}

a.img {
    position: relative;
}

.sale-50 {
    background: #9C6D3A;
    border-radius: 20px;
    align-items: center;
    padding: 4.5px 10px;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    margin-bottom: 12px;
    top: 3%;
    left: 5%;
}

.pre-order {
    background: #177983;
    border-radius: 20px;
    align-items: center;
    padding: 4.5px 10px;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    margin-bottom: 12px;
    top: 11%;
    left: 5%;
}

.load-more {
    border: 1px solid #DEDEDE;
    border-radius: 300px;
    justify-content: center;
    align-items: center;
    padding: 17px 64px;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--text-main);
    background-color: transparent;
}

/* end top trending  */

/* banner 2  */
.banner2 {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.banner2 .banner2-info {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 50px;
    position: absolute;
    max-width: 560px;
    max-height: 372px;
    top: 15%;
    right: 11%;
    text-align: center;
}

.banner2 .banner2-info .limited {
    font-weight: var(--fw-500);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 10px;
}

.banner2-title {
    font-weight: var(--fw-500);
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: var(--text-main);
    margin-bottom: 20px;
}

.banner2-desc {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-desc);
    margin-bottom: 50px;
}

.banner2-discover {
    background: var(--text-main);
    border-radius: 30px;
    padding: 17px 52px;
    color: #FFFFFF;
    font-weight: var(--fw-600);
    font-size: 12px;
    line-height: 16px;
}

/* end banner2  */

/* infomation */
.infomation {
    padding-bottom: 80px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;
    border-bottom: 1px solid #EBEBEB
}


.infomation-title {
    color: #111111;
    font-weight: var(--fw-500);
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.infomation-desc {
    font-size: 14px;
    line-height: 19px;
    color: #555555;
}

/* end infomation */

/* follow-us */
.follow-us {
    margin-left: 255px;
    margin-right: 255px;
}

ul.list-post {
    margin-top: 40px;
}

/* end follow-us  */

/* footer */
.c-footer {
    margin-top: 100px;
    max-height: 535px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: var(--color-bg-2);
}

.wrapper-footer {
    margin: 0 255px;
}


.wrapper-footer .title {
    font-weight: var(--fw-700);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 20px;
}

.wrapper-footer .top-footer .info-company {

    font-size: 14px;
    line-height: 19px;
    margin-top: 19px;
    margin-bottom: 29px;
}

.wrapper-footer .top-footer .group-networks {
    display: flex;
}

.wrapper-footer .top-footer .group-networks>img {
    margin-right: 10px;
}


.wrapper-footer .top-footer .subcribe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.wrapper-footer .top-footer .subcribe>input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: var(--border-radius-1);
    width: 290px;
    height: 50px;
    border: 1px solid #EBEBEB;
    background: var(--color-white);
}

.wrapper-footer .top-footer .subcribe>input::placeholder {}

.wrapper-footer .top-footer .subcribe>button {
    border-radius: var(--border-radius-1);
    background: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    width: 150px;
    height: 50px;
}

.wrapper-footer .top-footer .group-networks>img {
    width: 30px;
    height: 30px;
}

.wrapper-footer .bot-footer {
    margin-top: 30px;
}

.wrapper-footer .bot-footer .copy-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.wrapper-footer .bot-footer .copy-right .eng,
.us {
    font-weight: 400;
}

.wrapper-footer .bot-footer .copy-right .eng .icon,
.us .icon {
    font-size: 9px;
}

.wrapper-footer .bot-footer .copy-right .y2020 {
    display: flex;
    align-items: center;
}

.wrapper-footer .bot-footer .payment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.border-footer {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #DEDEDE;
}

.wrap-border {
    position: relative;
    padding-bottom: 30px;
}

/* end footer  */