.container {
    max-width: 1860px;
    /* padding: 0px; */
}

.border-gray {
    border-bottom: 1px solid #EBEBEB;
}

/* top-links  */


.top-links-info li {
    font-weight: var(--fw-500);
    font-size: 13px;
    line-height: 18px;
    color: var(--color-black);
}

.top-links p {
    font-weight: var(--fw-500);
    font-size: 13px;
    line-height: 18px;
    color: var(--color-gray);
}

.top-links p>a {
    text-decoration: underline !important;
    color: var(--color-black);
}

.top-links-languages li>a {
    font-weight: var(--fw-500);
    font-size: 13px;
    line-height: 18px;
    color: var(--color-black);
}

.icon-down {
    font-size: 9px;
    line-height: 12px;
    color: var(--color-gray);
    margin-left: 10px;
}


/* top-links  */

/* menu  */
.navbar-light .navbar-nav .nav-link {

    font-weight: var(--fw-600);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-black);
}


.numberic {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--color-yellow);
    color: var(--color-white);
    text-align: center;
    right: 0%;
    bottom: 60%;
}

/* menu  */

/* banner  */
.banner-top {
    margin-top: 30px;
}

.carousel-caption h5 {
    font-weight: var(--fw-600);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-white);
}

.carousel-caption h2 {
    font-weight: var(--fw-600);
    font-size: 90px;
    line-height: 122px;
    color: var(--color-white);
}

.carousel-caption {
    margin-bottom: 10%;
}

.carousel-caption p {
    font-weight: var(--fw-500);
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);
}

.carousel-caption a {
    align-items: center;
    padding: 15px;
    width: 180px;
    height: 55px;
    background: var(--color-white);
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: var(--fw-600);
    margin-top: 50px;
}

.carousel-caption a:hover {
    background: #ffc80b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
}

/* banner  */

/* top-categories  */

.top-categories {
    margin-top: 100px;
}

.top-content {
    margin-bottom: 40px;
}

.top-content h3 {
    font-weight: var(--fw-500);
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: var(--color-black);
}

.top-content p {
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--color-gray);
}

.wrapper-body-content {
    max-width: 1410px;
    margin: 0px auto;
}

.body-content p {
    font-weight: var(--fw-500);
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
    color: var(--color-black);
}

/* top-categories  */

/* top-trending  */
.top-trending {
    margin-top: 80px;
}

.body-content .product-title {
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black);
}

.body-content .votes {

    font-size: 10px;
}


.body-content .price {
    font-weight: var(--fw-500);
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
}

.body-content .new-price {
    color: var(--color-yellow);
}

.body-content .old-price {

    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 24px;
    color: #8D979E;
    text-decoration: line-through;
}

.body-content span.sale-50 {
    position: absolute;
    top: 3%;
    left: 10%;
    padding: 4.5px 10px;
    gap: 10px;
    width: 52px;
    height: 25px;
    background: var(--color-yellow);
    border-radius: 20px;
    color: var(--color-white);
    font-size: 12px;
    line-height: 16px;
}

.body-content span.pre-order {
    top: 11%;
    left: 10%;
    width: 77px;
    height: 25px;
    background: #177983;

}

button.load-more {
    padding: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #DEDEDE;
    border-radius: 300px;
    font-weight: var(--fw-600);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--color-black);
}

button.load-more:hover {
    background-color: #ebdab9
}

/* top-trending  */

/* banner-end  */
.banner-end {
    margin-top: 100px;
    margin-bottom: 100px;
}

.banner-end-content {
    padding: 50px;
    position: absolute;
    width: 560px;
    height: 372px;
    background: var(--color-white);
    border-radius: 20px;
    top: 21%;
    right: 10%;
}

.banner-end-content h6 {
    font-weight: var(--fw-500);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #999999;
}

.banner-end-content h3 {
    font-weight: var(--fw-500);
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: var(--color-black);
}

.banner-end-content p {
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--color-gray);
}

.banner-end-content a {
    padding: 17px 52px;
    max-width: 200px;
    max-height: 50px;
    background: var(--color-black);
    border-radius: 30px;
    font-weight: var(--fw-600);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-white);
}

.banner-end-content a:hover {
    background-color: #384dbc
}

/* banner-end  */

/* infomation  */
.infomation {
    padding-bottom: 100px;
}

.infomation h5 {
    font-weight: var(--fw-500);
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--color-black);
}

.infomation p {
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--color-gray);
}

/* infomation  */

/* follow-us  */
.follow-us {
    margin-top: 100px;
    padding-bottom: 80px;
}

/* follow-us  */
/* footer  */
.footer {
    background-color: #F5F5F5;
    padding-top: 100px;
}

.top-footer {
    padding-bottom: 50px;
}

.footer li {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 7px 0px;
    color: var(--color-gray);
}

ul.list-socical li {
    padding-right: 7px;
}

.customer-service li:not(.title-cate):hover,
.shop-by-categories li:not(.title-cate):hover {
    color: var(--color-black);
    padding-left: 10px;
    cursor: pointer;
}

.footer li.title-cate {
    font-weight: var(--fw-600);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-black);
    padding-bottom: 20px;
}

form .email {
    align-items: center;
    padding: 10px 20px;
    /* width: 290px; */
    height: 50px;
    background: var(--color-white);
    border: 1px solid #EBEBEB;
    border-radius: 30px;
}

.subscribe {
    padding: 10px;
    width: 120px;
    height: 50px;
    background: var(--color-black);
    border-radius: 30px;
    font-weight: var(--fw-500);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);

}

.subscribe:hover {
    background: red
}

/* footer  */